@{
    ViewBag.Title = "Index";
}
<div class="slider">
    <ul>
        <li> <img src="~/imagem/prato1.jpg" width="800" height="400"> </li>
        <li> <img src="~/imagem/prato2.jpg" width="800" height="400"> </li>
        <li> <img src="~/imagem/prato3.jpg" width="800" height="400"> </li>
        <li> <img src="~/imagem/prato4.jpg" width="800" height="400"> </li>
    </ul>
</div><!--Fim Slider-->

<h2>Sitema de Cadastro de Restaurantes</h2> 